p.parrafo {
    font-size: 13 px;
    border:solid; color: aliceblue;
}



body{
    
    background-image: url('../images/fondojpg.jpg');
    font-family:'monserrat', sans-serif;

    color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}
    .logo{ 
        text-align:center;
        border: 2px solid purple;
        
    }

    .popi{
        text-align: center;
    }


.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
   
} 



  .fondojpg {
    background-image: url(images/fondojpg.jpg) ;
    width: 100px;
    height: 100px;
}

div.conce {
    display: flex;
    justify-content: center;

}

 .footer{
        background-color: hsl(0,0%,4%); 
        color: hsl(0,0%,86%);   

}