p.parrafo {
    font-size: 13 px;
    border:solid; color: aliceblue;
}



body{
    background-image: url('../images/fondojpg.jpg');
    color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{

    text-align: center
    
    
}
 div{
    
    border-radius:59%;
    padding: 15px;
        border-image: url(images/conce.jpg.jpg) 30 round;
  }

  .fondojpg {
    background-image: url(images/fondojpg.jpg) ;
    width: 100px;
    height: 100px;
}
